<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>學生資料首頁</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>學生資料管理系統</h1>
        <div style="text-align:center; margin-top: 30px;">
            <a href="{% url 'listall' %}">
                <button style="padding: 10px 20px; font-size: 16px;">顯示所有學生資料</button>
            </a>
            <a href="{% url 'listone' %}">
                <button style="padding: 10px 20px; font-size: 16px; margin-left: 20px;">顯示林宸宇資料</button>
            </a>
        </div>
    </div>
</body>
</html>
