<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>顯示一筆學生資料</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>顯示 student 資料表一筆資料 {{ errormessage }}</h1>

        {% if unit %}
        <table>
            <tr><th>編號</th><td>{{ unit.id }}</td></tr>
            <tr><th>姓名</th><td>{{ unit.cName }}</td></tr>
            <tr><th>性別</th><td>{{ unit.cSex }}</td></tr>
            <tr><th>生日</th><td>{{ unit.cBirthday }}</td></tr>
            <tr><th>郵件帳號</th><td>{{ unit.cEmail }}</td></tr>
            <tr><th>電話</th><td>{{ unit.cPhone }}</td></tr>
            <tr><th>地址</th><td>{{ unit.cAddr }}</td></tr>
        </table>
        {% else %}
        <p style="color:red;">查無資料！{{ errormessage }}</p>
        {% endif %}

        <div style="margin-top: 20px;">
            <a href="{% url 'index' %}"><button>返回首頁</button></a>
        </div>
    </div>
</body>
</html>
